.photo {
    width: 50%;
    height: auto;
    margin-top: 1rem;
    border-radius: 10px;
    aspect-ratio: 3/2;
    box-shadow: 0.5rem 1rem 10px;
}

@media (max-width: 600px) {
    .newContainer {
        flex-direction: column;
    }
}