.photo {
    width: 300%;
    height: auto;
    margin-top: 4%;
    border-radius: 10px;
    box-shadow: 10px 10px;
}

@media (max-width: 600px) {
    .newContainer {
        flex-direction: column;
    }
}